<div class="topPage">
  <nav class="nav">
    <ul>
      <li class="personIcon"><%= link_to(content_tag(:i, "", class: 'fas fa-2x fa-user'), user_path(current_user.id)) %></li>
      <li class="appIcon"><%= link_to image_tag("techpit-march-icon.png"), action: "index" %></li>
      <li class="messageIcon"><%= link_to(content_tag(:i, "", class: 'fas fa-2x fa-comments'), matching_index_path) %></li>
    </ul>
  </nav>
  <div id="tinderslide">
    <ul>
      <li id="userId" data-user_id="<%= @user.id %>">
        <div class="userName"><%= @user.name %></div>
        <%= image_tag @user.img_name.url(:thumb) %>
        <div class="like"></div>
        <div class="dislike"></div>
      </li>
    </ul>
    <div class="noUser">近くにお相手がいません。</div>
  </div>
  <div class="actions" id="actionBtnArea">
      <%= link_to reactions_path(params: { user_id: @user.id, reaction: 'dislike' }), method: 'post' do %>
          <i class="fas fa-times fa-2x"></i>
      <% end %>
      <%= link_to reactions_path(params: { user_id: @user.id, reaction: 'like' }), method: 'post' do %>
          <i class="fas fa-heart fa-2x"></i>
      <% end %>
  </div>
</div>